.container {
    font-size: 16px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            position: relative;
}

.content {
  display: flex;
  gap: 5px;
  border: 1px solid lightgray;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  width: calc(100% - 40px);
  flex-wrap: wrap;
  cursor: text;
}

.input {
  outline: none;
  border: none;
  background: transparent;
  caret-color: grey;
  font-size: inherit;
  padding: 5px;
  max-width: 100%;
}

.dropdown{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 5px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: absolute;
    z-index: 2;
}